// @docs: Color palette
$color-primary: #41b883; 
$color-black:   #000000;
$color-white:   #ffffff;
$color-gray:    #cfcfcf;
$bg-gray:       #f7f7f7;

.text-primary   { color: $color-primary; }
.bg-primary     { background-color: $color-primary; }
.border-primary { border-color: $color-primary; }

.text-black     { color: $color-black; }
.text-gray      { color: $color-gray; }
.bg-white       { background-color: $color-white; }
.bg-gray        { background-color: $bg-gray; }