@use 'variables' as *;
@use 'colors' as *;

// Margin
@each $key, $value in $spacers {
  .m-#{$key} { margin: $value; }
  .mt-#{$key} { margin-top: $value; }
  .mb-#{$key} { margin-bottom: $value; }
  .ml-#{$key} { margin-left: $value; }
  .mr-#{$key} { margin-right: $value; }
  .mx-#{$key} { margin-left: $value; margin-right: $value; }
  .my-#{$key} { margin-top: $value; margin-bottom: $value; }
}

// Margin auto utilities
.m-auto { margin: auto; }
.mt-auto { margin-top: auto; }
.mb-auto { margin-bottom: auto; }
.ml-auto { margin-left: auto; }
.mr-auto { margin-right: auto; }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }

// Padding
@each $key, $value in $spacers {
  .p-#{$key} { padding: $value; }
  .pt-#{$key} { padding-top: $value; }
  .pb-#{$key} { padding-bottom: $value; }
  .pl-#{$key} { padding-left: $value; }
  .pr-#{$key} { padding-right: $value; }
  .px-#{$key} { padding-left: $value; padding-right: $value; }
  .py-#{$key} { padding-top: $value; padding-bottom: $value; }
}

// Width utilities
.w-100 { width: 100%; }
.w-75 { width: 75%; } 
.w-50 { width: 50%; }
.w-25 { width: 25%; }

.border { border: 1px solid #000; }
.border-b { border-bottom: 1px solid $color-gray;}
.border-t { border-top: 1px solid $color-gray; }
.border-l { border-left: 1px solid $color-gray; }
.border-r { border-right: 1px solid $color-gray; }