@use 'variables';
@use 'reset';
@use 'colors';
@use 'utilities';
@use 'sizing';
@use 'grid';
@use 'typography';
@use 'responsive';


@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/BeVietnamPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Be Vietnam Pro';
  src: url('./fonts/BeVietnamPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
	font-family: 'Be Vietnam Pro', sans-serif;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: disc inside;
    padding-left: 1.2em;
}
